<header class="bg-light p-3">
    <div class="container d-flex justify-content-between align-items-center">
        <h1 class="h4 mb-0">Сервис Аренды Недвижимости</h1>
        <nav>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link" href="search.html"><svg height="25" width="25">
                            <use xlink:href="components/assets.svg#search"></use>
                        </svg>Поиск недвижимости</a>
                </li>
                <li class="nav-item" id="authLinks">
                    <a class="nav-link" href="login.html"><svg height="25" width="25">
                            <use xlink:href="components/assets.svg#profile"></use>
                        </svg>Вход</a>
                    <a class="nav-link" href="register.html"><svg height="25" width="25">
                            <use xlink:href="components/assets.svg#profile-reg"></use>
                        </svg>Регистрация</a>
                </li>
                <li class="nav-item" id="userLinks">
                    <a class="nav-link" href="user.html"><svg height="25" width="25">
                            <use xlink:href="components/assets.svg#profile"></use>
                        </svg>Личный кабинет</a>
                    <button class="btn btn-link nav-link" id="logoutButton" href="login.html"><svg height="25"
                            width="25">
                            <use xlink:href="components/assets.svg#exit"></use>
                        </svg>Выход</button>
                </li>
            </ul>
        </nav>
    </div>
</header>